.table {
    display: flex;  
	margin: 0 auto;
}

#atalhos {
    background-color: #EEEEE4;
    color: #333333;
    font-size: 18px;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    width: 100%;
    align-content: center;
}

.fontsize {
    background-color: #f9f9f9;
    width: 8px;
    color: #333333;
    padding: 4px;
    /* margin: 3px 5px 0 0; */
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    font-size: 0.8125em;
    font-weight: bold;
    text-align: center;
}

.fontsize2 {
    background-color: #000;
    width: 8px;
    color: #FFF;
    padding: 4px;
    /* margin: 3px 5px 0 0; */
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    font-size: 0.8125em;
    font-weight: bold;
    text-align: center;
}

li {
    display: inline;
    min-width: 14vw;
    width: fit-content;
    max-width: 230px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: 10px;
}

list a{
    display: inline-block;
}

.fontsize:hover, .fontsize:focus{
    background-color: #333333 ;
    color: #f9f9f9;
    cursor: pointer;
}

.fontsize2:hover, .fontsize2:focus{
    background-color: #FFF !important;
    color: #000 !important;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

a:focus, a:hover{
    cursor: pointer; 
    background-color: #333333;
    color: #f9f9f9; 
}


  