<div class="table" id="bench" role="complementary" aria-labelledby="acessibilidade">
    <ul id="atalhos">  
        <li><a class="hover2" role="link" (keypress)="irConteudo()" id="irConteudo" (click)="irConteudo()" tabindex="0" title="Ir para o conteudo">Ir para o conteúdo [alt + 1]</a></li>  
          
        <li><a class="hover2" role="link" (keypress)="irMenu()" id="irMenu" (click)="irMenu()" tabindex="0" title="Ir para o menu">Ir para o menu [alt + 2]</a></li>  
              
        <li><a class="hover2" role="link" (keypress)="irRodape()" id="irRodapé" (click)="irRodape()" tabindex="0" title="Ir para o rodapé"> Ir para o rodapé [alt + 3]</a></li>   
              
        <li><a class="hover2" role="link" (keypress)="altoContraste()" id="irContraste" (click)="altoContraste()" tabindex="0" title="Alto contraste">Alto contraste [alt + 4]</a></li>
            
        <li><a class="hover2" role="link" (keypress)="openDialog()" id="irAcessibilidade" tabindex="0" title="Acessibilidade" (click)="openDialog()" (keypress)="onKeyPressAcess($event)">Acessibilidade [alt + 5]</a></li> 
        
        <li>
            <a class="fontsize" role="link" (keypress)="aumentarFonte()" id="aumentar" (click)="aumentarFonte()" alt="Aumentar fonte" tabindex="0" title="Aumentar Tamanho do Texto">A+</a>
            <a class="fontsize" role="link" id="diminuir" (keypress)="diminuirFonte()" (click)="diminuirFonte()" alt="Diminuir fonte" tabindex="0" title="Diminuir Tamanho do Texto">A-</a>
        </li>
    </ul>
</div>
  