<div class="footer-basic">
        <div id="info">
            <p class="footertext" style="font-weight: bold">
                Secretaria Municipal da Pessoa com Deficiência
            </p>
            <p class="footertext" >
                Rua Líbero Badaró, 425 - 32º andar - Centro </p>
            <a class="footertext" tabindex="0" href="https://observatorio.smped.prefeitura.sp.gov.br/">
                observatorio.smped.prefeitura.sp.gov.br
            </a>
        </div>

        <div class="social">
            <a tabindex="0" href="https://www.facebook.com/SMPEDSP/" ><img alt="facebook" src="./assets/facebook.png" href="" class="icon"></a>
            <a tabindex="0" href="https://twitter.com/smpedsp" ><img alt="twitter" src="./assets/twitter.png" href="" class="icon"></a>
            <a tabindex="0" href="https://www.youtube.com/user/inclusaosp"><img alt="youtube" src="./assets/youtube.png" href="" class="icon"></a>
            <a tabindex="0" href="https://www.instagram.com/smpedsp/?hl=pt-br"><img  alt="instagram" src="./assets/instagram.png" href="" class="icon"></a>
        </div>

        <div class="selo">
        </div>
        <a class="copyright" href="https://www.prefeitura.sp.gov.br/cidade/secretarias/pessoa_com_deficiencia">Secretaria Municipal da Pessoa com Deficiência © 2022</a>
</div>