<div class="footer-basic">
    <div id="info" [ngClass]="{'mobile': acessoMobile}" role="tablist">
        <p id="footertext1" tabindex="-1" class="footertext" style="font-weight: bold" role="tab">
            Secretaria Municipal da Pessoa com Deficiência
        </p>
        <p tabindex="-1 " class="footertext" role="tab">
            Rua Líbero Badaró, 425 - 32º andar - Centro </p>
        <p tabindex="-1" class="footertext">
            Email: observatorio.smped@prefeitura.sp.gov.br
        </p>
    </div>
    <div class="social">
        <a tabindex="0" href="https://www.facebook.com/SMPEDSP/" ><img alt="Este link leva à página oficial da SMPED no Facebook" src="./assets/facebook.png" href="" class="icon"></a>
        <a tabindex="0" href="https://twitter.com/smpedsp" ><img alt="Este link leva à página oficial da SMPED no Twitter" src="./assets/twitter.png" href="" class="icon"></a>
        <a tabindex="0" href="https://www.youtube.com/user/inclusaosp"><img alt="Este link leva ao canal oficial da SMPED no Youtube" src="./assets/youtube.png" href="" class="icon"></a>
        <a tabindex="0" href="https://www.instagram.com/smpedsp/?hl=pt-br"><img  alt="Este link leva à página oficial da SMPED no Instagram" src="./assets/instagram.png" href="" class="icon"></a>
    </div>

    <div class="selo" *ngIf="!acessoMobile">
    </div>
    <a class="copyright" alt="Ao clicar neste link, você será redirecionado para a página da Secretaria Municipal da Pessoa com Deficiência"
    href="https://www.prefeitura.sp.gov.br/cidade/secretarias/pessoa_com_deficiencia">Secretaria Municipal da Pessoa com Deficiência © 2022</a>
</div>