<mat-card>
    <div class="titulo"><mat-card-title tabindex="0">{{indicador.titulo}}</mat-card-title></div>
    <div class="map" id="map-{{id}}"></div>
    <mat-expansion-panel class="mat-elevation-z0" style="font-size:larger">
        <mat-expansion-panel-header class="left-aligned-header" style="font-size: large;">
          <mat-panel-title>
            Descrição
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="informacao" tabindex="0">
          {{descricao}}
        </div>            
    </mat-expansion-panel>
</mat-card>