<div id="pginicial">
    <div id="titulo" [ngClass]="{'mobile': acessoMobile}" role="tablist">
        <h2 [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">Quem somos</h2>
    </div>
    <div id="text" [ngClass]="{'mobile': acessoMobile}" role="tablist">
        <p  [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">
            O Observatório Municipal da Pessoa com Deficiência é uma ação da Secretaria Municipal da Pessoa com Deficiência - SMPED que busca produzir, agrupar, analisar e divulgar dados estatísticos e analíticos relativos à pessoa com deficiência residente no município de São Paulo, assim como, aos serviços e políticas públicas voltados à plena e efetiva inclusão destas pessoas na sociedade.
        </p>
        <br>
        <p  [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">    
            Traz um trabalho transversal que dialoga com várias áreas da Administração Pública, reunindo assim os mais diversos indicadores relativos à pessoa com deficiência e acessibilidade. Assim estabelece correlações entre as áreas, compreendendo a pessoa com deficiência em sua totalidade.
        </p>
        <br>
        <p  [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">
            Sua inciativa tem como foco subsidiar o planejamento estratégico de políticas e monitorar a realização progressiva dos direitos da pessoa com deficiência, de modo a se tornar um repositório de informação sobre este assunto. Além de ser um instrumento de informação e de suporte à decisão pública necessário para a articulação e formulação de políticas públicas.
        </p>
        <br>        
        <p [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">    
            No desenvolvimento das ações e atividades do Observatório está a implantação de sistemas e plataformas de tecnologia que permitam analisar, compilar e publicizar as análises e estudos produzidos. Além do desenvolvimento de sistemas de informação georreferenciados e do monitoramento e avaliação da eficácia, eficiência e efetividade das ações, projetos e programas vinculados às pessoas com deficiência na Administração Pública Municipal.
        </p>
        <br>
        <p [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">
            Este portal é uma plataforma online desenvolvida à luz da acessibilidade digital, incluindo fatores de transparência, usabilidade e navegabilidade, objetivando contemplar as necessidades de todas as pessoas com deficiência.
        </p>
        <br>
        <p [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">
            A coordenação do Observatório está a cargo da Divisão de Planejamento, Monitoramento e Avaliação - DPMA integrada na Coordenação de Políticas e Projetos de Inclusão - COPPI da Secretaria Municipal da Pessoa com Deficiência da Prefeitura de São Paulo.
        </p>
    </div>
</div>