<div id="pginicial">
    <div id="titulo">
        <h1>Bem vindo ao</h1>
        <h1>Observatório Municipal da Pessoa com Deficiência</h1>
    </div>
    <div id="text">
        <p>
            O Observatório é uma ação da Secretaria Municipal da Pessoa com Deficiência de São Paulo que elabora, centraliza e divulga os dados relativos a pessoas com deficiência e acessibilidade na cidade. Ainda analisa e monitora políticas públicas que atendem pessoas com deficiência.
        </p>
    </div>
</div>
