#pginicial {
    text-align: center;
}

#titulo {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#titulo.mobile {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

h2{
    font-size: 38px;
    color: #1C2E8A;
    font-weight: bolder;
    margin-top: 54px;
    margin-bottom: 54px;
    width: 100%;
    line-height: 46px;
}

h2.mobile{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#text {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 24px;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    font-weight: 500;
    text-align: left;
}

#text.mobile {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

#legenda {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 16px !important;
    text-align: center;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    font-weight: 500;
}

#legenda.mobile {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px !important;
}
