<div (keypress)="onKeyPressAcess($event)">
    <h2 tabindex="-1">Acessibilidade digital</h2>
    <p tabindex="-1">O Portal do Observatório atende requisitos de acessibilidade digital com foco na usabilidade, navegação e compromisso com as pessoas com e sem deficiência.</p>
    <br>
    <h4 tabindex="-1">Os atalhos utilizados pelo portal são:</h4>
    <ul>
        <li tabindex="-1">Teclando-se Alt + 1, chega-se diretamente ao começo do conteúdo principal da página.</li>
        <li tabindex="-1">Teclando-se Alt + 2, chega-se diretamente ao menu principal da página.</li>
        <li tabindex="-1">Teclando-se Alt + 3, chega-se diretamente ao rodapé.</li>
        <li tabindex="-1">Teclando-se Alt + 4, chega-se diretamente à funcionalidade do alto-contraste.</li>
        <li tabindex="-1">Teclando-se Alt + 5, chega-se diretamente à página de descrição da acessibilidade.</li>
        <li tabindex="-1">Teclando-se Alt + 6, chega-se diretamente à opção de aumentar a fonte.</li>
        <li tabindex="-1">Teclando-se Alt + 7, chega-se diretamente à opção de diminuir a fonte.</li>
    </ul>
    <p>Pode haver a necessidade de pressionar o botão Shift junto ao respectivo comando, a depender do Sistema Operacional e/ou do navegador web utilizado.</p>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close tabindex="0" (keypress)="onKeyPressAcess($event)">Fechar</button>
    </mat-dialog-actions>
</div>