<div (keypress)="onKeyPressAcess($event)">
    <h3 tabindex="0">Acessibilidade digital</h3>
    <p tabindex="0">O Portal do Observatório atende requisitos de acessibilidade digital com foco na usabilidade, navegação e compromisso com as pessoas com e sem deficiência.</p>
    <br>
    <h4 tabindex="0">Os atalhos utilizados pelo portal são:</h4>
    <ul>
        <li tabindex="0">Teclando-se Shift + 1, chega-se diretamente ao começo do conteúdo principal da página.</li>
        <li tabindex="0">Teclando-se Shift + 2, chega-se diretamente ao menu principal da página.</li>
        <li tabindex="0">Teclando-se Shift + 3, chega-se diretamente ao rodapé.</li>
        <li tabindex="0">Teclando-se Shift + 4, chega-se diretamente à funcionalidade do alto-contraste.</li>
        <li tabindex="0">Teclando-se Shift + 5, chega-se diretamente à página de descrição da acessibilidade.</li>
        <li tabindex="0">Teclando-se Shift + 6, chega-se diretamente à opção de aumentar a fonte.</li>
        <li tabindex="0">Teclando-se Shift + 7, chega-se diretamente à opção de diminuir a fonte.</li>
    </ul>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close tabindex="0" (keypress)="onKeyPressAcess($event)">Fechar</button>
    </mat-dialog-actions>
</div>