<div id="pginicial">
    <div id="titulo" [ngClass]="{'mobile': acessoMobile}">
        <h2 [ngClass]="{'mobile': acessoMobile}" tabindex="-1"  >Ajuda</h2>
    </div>
    <br>    
    <div id="text" [ngClass]="{'mobile': acessoMobile}">
        <p [ngClass]="{'mobile': acessoMobile}" tabindex="-1" >
            Caso esteja com dificuldade, assista esse vídeo para utilizar o Portal do Observatório:</p>
    <br>
    <iframe *ngIf="!acessoMobile" width="500" height="400" src="https://www.youtube.com/embed/hGvShzSNUyM" title="YouTube video player - vídeo de ajuda" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe *ngIf="acessoMobile" [ngClass]="{'mobile': acessoMobile}" width="350" height="250" src="https://www.youtube.com/embed/hGvShzSNUyM" title="YouTube video player - vídeo de ajuda" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>       
</div>