    <aside *ngIf="!acessoMobile" aria-label="acessibilidade">
      <div id="barraacessibilidade">
        <app-acessibility-bar></app-acessibility-bar>    
      </div>
    </aside>
    <nav>
    <header id="barramenu">
      <app-toolbar></app-toolbar>
      <div id="menubar">
        <app-menu-bar></app-menu-bar>
      </div>
    </header>
    </nav>
    <main>
      <div>
        <div id="content" class="content"style="min-block-size: 70vh;">
          <router-outlet></router-outlet>
        </div>
      </div>
      <router-outlet name="print"></router-outlet>
    </main>
    <footer>
      <div id="footbar">
        <app-foot-bar></app-foot-bar>
      </div>
    </footer> 