<div id="pginicial">
    <div id="titulo" [ngClass]="{'mobile': acessoMobile}" role="tablist">
        <h2 [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">Contato</h2>
    </div>
    <div id="text" [ngClass]="{'mobile': acessoMobile}" role="tablist">
        <p  [ngClass]="{'mobile': acessoMobile}" tabindex="0" id="frstLine" role="tab">
            Qualquer dúvida ou sugestão, entre em contato pelo e-mail:</p>
        <p>    
        <a  [ngClass]="{'mobile': acessoMobile}" tabindex="0" role="tab">
            observatorio.smped@prefeitura.sp.gov.br
        </a>
    </div>
</div>