
#titulo {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


h2{
    font-size: 38px;
    color: #1C2E8A;
    font-weight: bolder;
    margin-top: 54px;
    margin-bottom: 54px;
    width: 100%;
    line-height: 46px;
}

h2.mobile{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
}

#text {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#text.mobile {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-size: 24px;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    font-weight: 500;
}

p.mobile {
    font-size: 20px;
    text-align: justify;
}