.table {
    display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#atalho {
    color: #FFFFFF ; 
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    list-style-type: none;
    width: 100%;
    align-content: center;
}

#principal{
    font-size: 24px;
}

.barra{
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline;
    float: left;
    min-width: 13vw;
    width: fit-content;
    max-width: 230px;
    padding-top: 28px;
    text-align: center;
}

.botao-menu {
    color: #FFFFFF; 
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

list a{
    display: inline-block;
    text-decoration: none !important;
}

a:link {
    text-decoration: none;
  }

a {
    color: #FFF;
}

a:visited {
    text-decoration: none;
  }

  
.twolines{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 28px;
}

hover {
    background-color: #1C2E8A;
}

hover:visited {
    color: #FFFFFF;
}

.hover:hover {
    cursor: pointer; 
    background-color: #FFFFFF;
    color: #1C2E8A;
 }