<div class="table">
    <ul id="atalho">  
        <li tabindex="-1"><a routerLink="" tabindex="0" class="hover" id="pgInicial">Página Inicial</a></li>  
          
        <li tabindex="-1" ><a routerLink="/quem-somos" tabindex="0" class="hover" id="Qmsomos">Quem somos</a></li>  
              
        <li tabindex="-1" ><a routerLink="/paineis" tabindex="0" class="hover" id="Paineis">Painéis</a></li>   
              
        <li tabindex="-1" class="twolines"><a routerLink="/mapa-rede-servicos-acessiveis" tabindex="0" class="hover" id="Mapa">Mapa da Rede de Serviços Acessíveis</a></li>
            
        <li tabindex="-1" ><a routerLink="/contatos" tabindex="0" class="hover" id="Contato">Contato</a></li> 

        <li tabindex="-1"><a routerLink="/ajuda" tabindex="0" class="hover" id="Ajuda">Ajuda</a></li> 
    </ul>
</div>
  