#toolbar-principal {
    background-color: #FFFFFF;
    color: #1C2E8A;
    height: 200px;
    position: relative;
}

#title {
    width: 100%;
}

h1{
    font-size: 40px;
    font-weight: bold;   
    padding: 5px; 
    position: relative;
    white-space: normal; 
}

.logo {
    height: 180px;
}
