<mat-toolbar class="donotchange">
  <mat-toolbar-row class="donotchange" id="toolbar-principal">
    <a class="donotchange" tabindex="0" [routerLink]="['/']" id="logo-observatorio">
    <img class="logo" src="/assets/2019.06.29---Layout-Observatório-Municipal-PCD--COLORIDO-VAZADO.PNG" alt="Observatório Municipal da Pessoa com Deficiência">
    </a>
    <div class="donotchange" id="title">
      <h1>Observatório Municipal da Pessoa com Deficiência</h1>  
    </div> 
    <div class="donotchange"style="text-align: right; width:70%">
      <a class="donotchange" tabindex="0" href="https://www.prefeitura.sp.gov.br/cidade/secretarias/pessoa_com_deficiencia/" id="logo-prefeitura">
        <img class="logo" src="/assets/Pessoa+com+Deficiência_principal+-+horizontal .png" alt="Secretaria Municipal da Pessoa com Deficiência - SMPED">
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
