#toolbar-principal {
    background-color: #FFFFFF;
    color: #1C2E8A;
    height: 200px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
}

#toolbar-principal.mobile {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    background-color: #FFFFFF;
    color: #1C2E8A;
    height: 200px;
}

#title {
    width: 100%;
}

h1{
    font-size: 40px;
    font-weight: bold;   
    padding: 5px; 
    position: relative;
    white-space: normal; 
}

.logo {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.logo.mobile{
    height: auto;
    width: 80%;
}

.logoPref.mobile{
    height: 25vw;
}

.logoPref {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#logos {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}


