

#toolbar-principal {
    background-color: #FFFFFF;
    color: #1C2E8A;
    height: 200px;
    position: relative;
}

#toolbar-principal.mobile {
    background-color: #FFFFFF;
    color: #1C2E8A;
    height: 200px;
}

#title {
    width: 100%;
}

h1{
    font-size: 40px;
    font-weight: bold;   
    padding: 5px; 
    position: relative;
    white-space: normal; 
}

.logo {
    height: 150px;
}

.logo.mobile{
    height: 180px;
}

.logoPref.mobile{
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logoPref {
    height: 180px;
}


