
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portal-front-primary: mat-palette($mat-indigo);
$portal-front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portal-front-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portal-front-theme: mat-light-theme($portal-front-primary, $portal-front-accent, $portal-front-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portal-front-theme);

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "../node_modules/c3/c3.min.css";

@include mat-core();

$smped-brand-main: (
    100: #8eacbb,
    500: #607d8b,
    700: #34515e,
    contrast: (
        100: #000000,
        500: #ffffff,
        700: #ffffff
    )
);

$smped-brand-sec: (
    100: #ffff72,
    500: #ffeb3b,
    700: #c8b900,
    contrast: (
        100: #000000,
        500: #000000,
        700: #000000
    )
);

$smped-acc: (
    100: #ffff72,
    500: #ffeb3b,
    700: #c8b900,
    contrast: (
        100: #000000,
        500: #000000,
        700: #000000
    )
);

$smped-warn: (
    100: #e94948,
    500: #b00020,
    700: #790000,
    contrast: (
        100: #000000,
        500: #ffffff,
        700: #ffffff
    )
);


$smped-app-primary: mat-palette($smped-brand-main);
$smped-app-accent: mat-palette($smped-acc);

$smped-app-warn: mat-palette($smped-warn);

$smped-app-theme: mat-light-theme(
    $smped-app-primary,
    $smped-app-accent,
    $smped-app-warn);

@include angular-material-theme($smped-app-theme);

:root{
    --color-primary: #607d8b;
    --color-primary-text: #ffffff;
    --color-primary-lighter: #8eacbb;
    --color-primary-lighter-text: #000000;
    --color-secondary: #ffeb3b;
    --color-secondary-text: #000000;
    --color-secondary-lighter: #ffff72;
    --color-secondary-lighter-text: #000000;
    --color-accent: #ffeb3b;
    --color-accent-text: #000000;
    --color-background: #fafafa;
    --bodyBackgroundImage: unset;
    --hover: #eeeeee;
    --text-grey: #5f6368;
    --color-terciary-text: #929292;
    --color-search-field: #8a8a8a;
}

html,
body {

    // --color-primary: #607d8b;
    // --color-primary-text: #ffffff;
    // --color-primary-lighter: #8eacbb;
    // --color-primary-lighter-text: #000000;
    // --color-secondary: #ffeb3b;
    // --color-secondary-text: #000000;
    // --color-secondary-lighter: #ffff72;
    // --color-secondary-lighter-text: #000000;
    // --color-accent: #ffeb3b;
    // --color-accent-text: #000000;
    // --color-background: #fafafa;
    // --bodyBackgroundImage: unset;
    // --hover: #eeeeee;
    // --text-grey: #5f6368;
    // --color-terciary-text: #929292;

    margin: 0;
    background-color: var(--color-background);
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    height: 100vh;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
    #outer-container.isPrinting > * { display: none; }
    #outer-container.isPrinting > #inner-container { display: none; }
    #outer-container.isPrinting app-print-layout { display: block; }
}
