
#titulo {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

h1{
    font-size: 38px;
    color: #1C2E8A;
    font-weight: bolder;
    margin-top: 54px;
    margin-botton: 54px;
    width: 100%;
    line-height: 46px;
}

h2{
    font-size: 38px;
    color: #1C2E8A;
    font-weight: bolder;
    margin-top: 54px;
    margin-botton: 54px;
    width: 100%;
    line-height: 46px;
}

#text {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    font-weight: 500;
}

.botaoVoltar {
    text-align: left;
    font-size: 20;  
}

.botaoVoltarProprio{
    display: inline;
    font-size: 20px;
    background-color: #1C2E8A;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    width: fit-content;
    text-align: center;
}

.botaoVoltarProprio:hover{
    background-color: #1C2EEE;
    color: white;
}

