<div id="pginicial">
    <div class="botaoVoltar">
        <button class="botaoVoltarProprio" tabindex="0" title="Clique para retornar à página de painéis" routerLink="/paineis">Voltar</button>
    </div>  
    <div id="titulo" role="tablist">
        <h2 tabindex="-1" role="tab">{{ title }}</h2>
    </div>  
    <div class="text">   
            <p id="titulo-valor" tabindex="-1">Tema: {{description[0].meta.folderTitle}}</p> 
            <p id="autor-valor" tabindex="-1" >Autor: {{description[0].meta.updatedBy}}</p> 
            <p id="descricao-valor" tabindex="-1">{{description[0].dashboard.description}}</p> 
    </div>
    <div id="graficos" tabindex="-1">
        <iframe id="myIframe" tabindex="-1" [src]="safeSrc" width="90%" height="1000" frameborder="0"></iframe>
    </div>

    <div id="botaoDownload">
        <button tabindex="0" alt="Este botão inicia o download do arquivo CSV correspondente ao painel"
        title="Botão para realizar download do arquivo csv correspondente ao painel {{ title }}">
            class="download" (click)="fazerDownload(title )">Download CSV</button>
    </div>
            
    <h3 tabindex="-1" [ngClass]="{'mobile': acessoMobile}">Gráficos presentes neste painel: </h3>
    <div id="text2" *ngFor="let panel of description[0].dashboard.panels">   
            <h4 id="titulo-panel-valor" tabindex="-1">Título: {{panel.title}}</h4>  
            <p id="descricao-panel-valor" tabindex="-1">Descrição: {{panel.description}}</p> 
    </div>
</div>