<div id="pginicial">
    <div class="botaoVoltar">
        <button class="botaoVoltarProprio" tabindex="0" title="Clique para retornar à página de painéis" routerLink="/paineis">Voltar</button>
    </div>  
    <div id="titulo" role="tablist">
        <h2 tabindex="0" role="tab">{{ title }}</h2>
    </div>  
    <div class="text">   
            <p id="titulo-valor" tabindex="0">Tema: {{description[0].meta.folderTitle}}</p> 
            <p id="autor-valor" tabindex="0" >Autor: {{description[0].meta.updatedBy}}</p> 
            <p id="descricao-valor" tabindex="0">{{description[0].dashboard.description}}</p> 
    </div>
    <div id="graficos" tabindex="-1">
        <iframe id="myIframe" tabindex="-1" [src]="safeSrc" width="90%" height="1000" frameborder="0"></iframe>
    </div>
    
    <div id="text2" *ngFor="let panel of description[0].dashboard.panels">   
            <h3 tabindex="0" [ngClass]="{'mobile': acessoMobile}">Gráficos presentes neste painel: </h3>
            <h4 id="titulo-panel-valor" tabindex="0">Título: {{panel.title}}</h4>

            <button title="Botão para realizar download do arquivo csv correspondente ao gráfico {{panel.title}}"
            class="download" [id]="panel.title" (click)="abrirMenu(panel.title)">Download CSV</button>  

            <p id="descricao-panel-valor" tabindex="0">Descrição: {{panel.description}}</p> 
    </div>
</div>